{% extends "base.html" %}
{% block title %}Пост #{{ full_post.id }} пользователя {{ full_post.author.first_name }} {{ full_post.author.last_name }}{% endblock %}
{% block header %}Пост #{{ full_post.id }} пользователя {{ full_post.author.first_name }} {{ full_post.author.last_name }}{% endblock %}
{% block content %}
<main role="main" class="container">
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                <div class="card">
                        <div class="card-body">
                                <div class="h2">
                                    <!-- Имя автора -->
                                    {{ full_post.author.first_name }} {{ full_post.author.last_name }}
                                </div>
                                <div class="h3 text-muted">
                                     <!-- username автора -->
                                     @{{ full_post.author }}
                                </div>
                        </div>
                        <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                        <div class="h6 text-muted">
                                        Подписчиков: XXX <br />
                                        Подписан: XXX
                                        </div>
                                </li>
                                <li class="list-group-item">
                                        <div class="h6 text-muted">
                                            <!--Количество записей -->
                                            Записей: {{ counter }}
                                        </div>
                                </li>
                        </ul>
                </div>
        </div>

        <div class="col-md-9">

            <!-- Пост -->
                <div class="card mb-3 mt-1 shadow-sm">
                        <div class="card-body">
                                <p class="card-text">
                                        <!-- Ссылка на страницу автора в атрибуте href; username автора в тексте ссылки -->
                                        <a href="/{{ full_post.author }}"><strong class="d-block text-gray-dark">@{{ full_post.author }}</strong></a>
                                        <!-- Текст поста -->
                                        {{ full_post.text }}
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group ">
                                                <!-- Ссылка на редактирование, показывается только автору записи -->
                                                <a class="btn btn-sm text-muted" href="{% url 'post_edit' full_post.author full_post.id %}" role="button">Редактировать</a>
                                        </div>
                                        <!-- Дата публикации  -->
                                        <small class="text-muted">{{ full_post.pub_date }}</small>
                                </div>
                        </div>
                </div>
     </div>
    </div>
</main>
{% endblock content %}