{% extends "base.html" %}
{% block title %}Профиль пользователя {{ author.first_name }} {{ author.last_name }}{% endblock %}
{% block header %}Профиль пользователя {{ author.first_name }} {{ author.last_name }}{% endblock %}
{% block content %}
<main role="main" class="container">
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                    <div class="card">
                            <div class="card-body">
                                    <div class="h2">
                                        {{ author.first_name }} {{ author.last_name }}
                                    </div>
                                    <div class="h3 text-muted">
                                         <!-- username автора -->
                                         @{{ author.username }}
                                    </div>
                            </div>
                            <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                            <div class="h6 text-muted">
                                            Подписчиков: XXX <br />
                                            Подписан: XXX
                                            </div>
                                    </li>
                                    <li class="list-group-item">
                                            <div class="h6 text-muted">
                                                <!-- Количество записей -->
                                                Записей: {{ counter }}
                                            </div>
                                    </li>
                            </ul>
                    </div>
            </div>

            <div class="col-md-9">
                {% for page_data in page %}
                <!-- Начало блока с отдельным постом -->
                    <div class="card mb-3 mt-1 shadow-sm">
                            <div class="card-body">
                                    <p class="card-text">
                                            <!-- Ссылка на страницу автора в атрибуте href; username автора в тексте ссылки -->
                                            <a href="{{ page_data.author }}"><strong class="d-block text-gray-dark">@{{ page_data.author }}</strong></a>
                                            <!-- Текст поста -->
                                            {{ page_data.text }}

                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group ">
                                                    <!-- Ссылка на страницу записи в атрибуте href-->
                                                    <a class="btn btn-sm text-muted" href="{% url 'post' page_data.author page_data.id %}" role="button">Добавить комментарий</a>
                                                    <!-- Ссылка на редактирование, показывается только автору записи -->
                                                    {% if user == page_data.author %}
                                                    <a class="btn btn-sm text-muted" href="{% url 'post_edit' page_data.author page_data.id %}" role="button">Редактировать</a>
                                                    {% endif %}
                                            </div>
                                            <!-- Дата публикации  -->
                                            <small class="text-muted">31 июля 1854 г. 0:00</small>
                                    </div>
                            </div>
                    </div>
                <!-- Конец блока с отдельным постом -->
                {% endfor %}
                <!-- Остальные посты -->
                {% include "paginator.html" %}
                <!-- Здесь постраничная навигация паджинатора -->
     </div>
    </div>
</main>
{% endblock content %}